.longText{
    width: 400px;
}

@media printLegal{
    .legalPaper{
        size: legal;
    }
}

.alignTop{
    vertical-align: top;
}


.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}